PBN/Web References/proxibusnicweb/ProxiBusNicWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AgregarParada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarParadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarParadaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarParada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="alias" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="foto" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarParadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BuscarParadaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSugerencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idParada" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarSugerenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarSugerenciaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarBusParadas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idBus" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idParada" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarBusParadasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarBusParadasResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarBus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numRuta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="estado" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarBusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarBusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClave">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambiarClaveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambiarClaveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearUsuarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearUsuarioResult" type="tns:ResultadoSW" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResultadoSW">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="mensaje" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="respuesta" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AgregarParadaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarParada" />
  </wsdl:message>
  <wsdl:message name="AgregarParadaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarParadaResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarParadaSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarParada" />
  </wsdl:message>
  <wsdl:message name="BuscarParadaSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarParadaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarSugerenciaSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarSugerencia" />
  </wsdl:message>
  <wsdl:message name="AgregarSugerenciaSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarSugerenciaResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarBusParadasSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarBusParadas" />
  </wsdl:message>
  <wsdl:message name="AgregarBusParadasSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarBusParadasResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarBusSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarBus" />
  </wsdl:message>
  <wsdl:message name="AgregarBusSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarBusResponse" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapIn">
    <wsdl:part name="parameters" element="tns:CambiarClave" />
  </wsdl:message>
  <wsdl:message name="CambiarClaveSoapOut">
    <wsdl:part name="parameters" element="tns:CambiarClaveResponse" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapIn">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="CrearUsuarioSoapOut">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ProxiBusNicWSSoap">
    <wsdl:operation name="AgregarParada">
      <wsdl:input message="tns:AgregarParadaSoapIn" />
      <wsdl:output message="tns:AgregarParadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarParada">
      <wsdl:input message="tns:BuscarParadaSoapIn" />
      <wsdl:output message="tns:BuscarParadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarSugerencia">
      <wsdl:input message="tns:AgregarSugerenciaSoapIn" />
      <wsdl:output message="tns:AgregarSugerenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarBusParadas">
      <wsdl:input message="tns:AgregarBusParadasSoapIn" />
      <wsdl:output message="tns:AgregarBusParadasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarBus">
      <wsdl:input message="tns:AgregarBusSoapIn" />
      <wsdl:output message="tns:AgregarBusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <wsdl:input message="tns:CambiarClaveSoapIn" />
      <wsdl:output message="tns:CambiarClaveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <wsdl:input message="tns:CrearUsuarioSoapIn" />
      <wsdl:output message="tns:CrearUsuarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProxiBusNicWSSoap" type="tns:ProxiBusNicWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarParada">
      <soap:operation soapAction="http://tempuri.org/AgregarParada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarParada">
      <soap:operation soapAction="http://tempuri.org/BuscarParada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSugerencia">
      <soap:operation soapAction="http://tempuri.org/AgregarSugerencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarBusParadas">
      <soap:operation soapAction="http://tempuri.org/AgregarBusParadas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarBus">
      <soap:operation soapAction="http://tempuri.org/AgregarBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap:operation soapAction="http://tempuri.org/CambiarClave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProxiBusNicWSSoap12" type="tns:ProxiBusNicWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AgregarParada">
      <soap12:operation soapAction="http://tempuri.org/AgregarParada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarParada">
      <soap12:operation soapAction="http://tempuri.org/BuscarParada" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarSugerencia">
      <soap12:operation soapAction="http://tempuri.org/AgregarSugerencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarBusParadas">
      <soap12:operation soapAction="http://tempuri.org/AgregarBusParadas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarBus">
      <soap12:operation soapAction="http://tempuri.org/AgregarBus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarClave">
      <soap12:operation soapAction="http://tempuri.org/CambiarClave" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearUsuario">
      <soap12:operation soapAction="http://tempuri.org/CrearUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProxiBusNicWS">
    <wsdl:port name="ProxiBusNicWSSoap" binding="tns:ProxiBusNicWSSoap">
      <soap:address location="http://proxibusnicweb.somee.com/ProxiBusNicWeb/ProxiBusNicWS.asmx" />
    </wsdl:port>
    <wsdl:port name="ProxiBusNicWSSoap12" binding="tns:ProxiBusNicWSSoap12">
      <soap12:address location="http://proxibusnicweb.somee.com/ProxiBusNicWeb/ProxiBusNicWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>